/**********************************************************/
/** Dean James - Pangean Flying Cactus - The Coding Dodo **/
/**********************************************************/

//External
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

//Variable
$colour_body            : rgb(251, 001, 001) !default;
$colour_menu            : rgb(251, 001, 001) !default;
$colour_menu_text       : rgb(251, 001, 001) !default;
$colour_menu_active     : rgb(251, 001, 001) !default;
$colour_menu_active_text: rgb(251, 001, 001) !default;
$colour_logo            : rgb(251, 001, 001) !default;
$colour_logo_text       : rgb(251, 001, 001) !default;
$colour_logo_active     : rgb(251, 001, 001) !default;
$colour_logo_active_text: rgb(251, 001, 001) !default;
$colour_cook            : rgb(251, 001, 001) !default;
$colour_cook_text       : rgb(251, 001, 001) !default;
$colour_foot            : rgb(251, 001, 001) !default;
$colour_cell            : rgb(251, 001, 001) !default;
$colour_border          : rgb(251, 001, 001) !default;
$colour_canvas          : rgb(251, 001, 001) !default;
$colour_side_link       : rgb(251, 001, 001) !default;
$colour_subtitle        : rgb(251, 001, 001) !default;
$colour_h1              : rgb(251, 001, 001) !default;
$colour_h2              : rgb(251, 001, 001) !default;
$colour_h3              : rgb(251, 001, 001) !default;
$colour_p               : rgb(251, 001, 001) !default;
$colour_language        : rgb(251, 001, 001) !default;
$colour_language_text   : rgb(251, 001, 001) !default;
$colour_code            : rgb(251, 001, 001) !default;
$colour_code_numbers    : rgb(251, 001, 001) !default;
$colour_var             : rgb(251, 001, 001) !default;
$colour_var_text        : rgb(251, 001, 001) !default;
$colour_highlight       : rgb(251, 001, 001) !default;
$colour_link            : rgb(251, 001, 001) !default;
$colour_link_hover      : rgb(251, 001, 001) !default;
$colour_tip_border      : rgb(251, 001, 001) !default;
$colour_tip_back        : rgb(251, 001, 001) !default;
$colour_tip_text        : rgb(251, 001, 001) !default;
$colour_label           : rgb(081, 081, 081) !default;
$colour_input           : rgb(246, 246, 246) !default;
$colour_input_text      : rgb(051, 051, 051) !default;
$font_logo              : Arial, Helvetica, sans-serif !default;

//Internal
@import 'external/solarized-light';
@import 'styles/album';
@import 'styles/application';
@import 'styles/article';
@import 'styles/body';
@import 'styles/canvas';
@import 'styles/cards';
@import 'styles/foot';
@import 'styles/forms';
@import 'styles/highlight';
@import 'styles/images';
@import 'styles/menu';
@import 'styles/money';
@import 'styles/page';
@import 'styles/sides';
@import 'styles/text-and-fonts';