form,
#ajax-target,
.cell,
.cell-page,
.cell-side {
    display       : flex;
    flex-direction: column;
    gap           : 16px;
}

.cell {
    background   : $colour_cell;
    border       : 01px solid $colour_border;
    border-radius: 04px;
    position     : relative;
    padding      : 16px;
}

.cell.blog,
.cell.cookies {
    gap: 32px;
}

.cell-page {
    grid-area: page;
}

.cell-side {
    grid-area: side;
}

.cell-side .cell {
    gap: 02px;
}

#ajax-target {
    width    : 0;
    min-width: 100%;
    word-wrap: break-word;
}