.form-group {
    display       : flex;
    flex-direction: column-reverse;
    gap           : 08px;
    margin        : 00px;
    padding       : 00px;
}

.form-group.form-hidden {
    display: none;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: $colour_input;
    border          : 01px solid $colour_border;
    color           : $colour_input_text;
    font-size       : 13px;
    padding         : 04px;
}

button,
#submit-button {
    background-color: rgb(221, 231, 251);
    border          : 01px solid rgb(096, 156, 236);
    color           : rgb(096, 156, 236);
    text-align      : center;
    font-size       : 13px;
    font-weight     : bold;
    padding         : 04px;
    cursor          : pointer;
}