#page {
    display  : grid;
    grid-area: body;
    gap      : 16px;
}

#page.one-column {
    grid-template-columns: 01fr;
    grid-template-areas  : "page";
    margin               : 32px 020% 32px 020%;
}

#page.two-column {
    grid-template-columns: 01fr 256px;
    grid-template-areas  : "page side";
    margin               : 32px 020% 32px 020%;
}

@media screen and (max-width: 1024px) {

    #page.one-column,
    #page.two-column {
        margin: 16px;
    }
}

@media screen and (max-width: 640px) {

    #page.one-column,
    #page.two-column {
        grid-template-columns: 01fr;
        grid-template-areas  : "page" "side";
    }
}