.cell-side a {
    border-radius  : 02px;
    text-decoration: none;
    padding        : 08px;
}

.cell-side a:hover,
.cell-side a.active {
    background-color: $colour_highlight;
}

.active .title {
    color: $colour_link_hover;
}