.tag-parent {
    display       : flex;
    flex-direction: row;
    gap           : 04px;
}

.tag {
    background-color: $colour_tag_back;
    border-radius   : 02px;
    color           : $colour_tag_text;
    font-size       : 12px;
    font-weight     : normal;
    padding         : 04px 06px;
}