/**********************************************************/
/** Dean James - Pangean Flying Cactus - The Coding Dodo **/
/**********************************************************/

a {
    border-radius  : 02px;
    color          : $colour_link;
    text-decoration: none;
    padding        : 00px 00px;
}

a:hover {
    color: $colour_link_hover;
}

tip {
    background-color: $colour_tip_back;
    border          : 01px solid $colour_tip_border;
    border-radius   : 02px;
    color           : $colour_tip_text;
    font-weight     : bold;
    font-size       : 13px;
    padding         : 08px;
}