/**********************************************************/
/** Dean James - Pangean Flying Cactus - The Coding Dodo **/
/**********************************************************/

#page.one-column {
    grid-template-columns: 01fr;
    grid-template-areas  : "page";
    margin               : 32px 020% 32px 020%;
}

#page.two-column {
    grid-template-columns: 01fr 256px;
    grid-template-areas  : "page side";
    margin               : 32px 020% 32px 020%;
}

.cell.stretch {
    border-radius: 00px;
    padding      : 16px 16px;
}

.cell.stretch-padded {
    border-radius: 00px;
    padding      : 32px 020%;
}

.cell.no-stretch{
    border-radius: 00px;
    margin       : 32px 020%;
}

@media screen and (max-width: 1024px) {
    #page.two-column {
        margin: 16px;
    }
}

@media screen and (max-width: 640px) {
    #page.two-column {
        grid-template-columns: 01fr;
        grid-template-areas  : "page""side";
    }
}

@media screen and (max-width: 1024px) {
    .cell.stretch-padded {
        padding      : 16px 16px;
    }

    .cell.no-stretch {
        margin      : 16px 16px;
    }
}