/**********************************************************/
/** Dean James - Pangean Flying Cactus - The Coding Dodo **/
/**********************************************************/

form,
#ajax_target {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form.form-h {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    gap: 08px;
    margin: 00px;
    padding: 00px;
}

.form-group.form-group-button {
    flex: 0;
}

.form-group label,
table th {
    color: $colour_label;
    font-size: 13px;
    font-weight: bold;
}

.form-group .message {
    color: $colour_label;
    font-size: 13px;
    font-weight: normal;
}

hr {
    border: none;
    border-bottom: 1px solid $colour_border;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: $colour_input;
    border: 1px solid $colour_border;
    color: $colour_input_text;
    font-size: 13px;
    padding: 04px;
}

.form-group textarea {
    resize: none;
}

.form-group button {
    font-size: 13px;
    font-weight: bold;
    padding: 04px 16px;
    min-width: 0px;
}

.form-group button.search {
    background-color: rgb(221, 231, 251);
    border: 1px solid rgb(096, 156, 236);
    color: rgb(096, 156, 236);
}

.form-group button.new {
    background-color: rgb(221, 231, 251);
    border: 1px solid rgb(096, 156, 236);
    color: rgb(096, 156, 236);
}

.form-group button.save {
    background-color: rgb(181, 255, 181);
    border: 1px solid rgb(051, 117, 051);
    color: rgb(051, 117, 051);
}

.form-group button.delete {
    background-color: rgb(255, 201, 201);
    border: 1px solid rgb(221, 051, 051);
    color: rgb(221, 051, 051);
}

.form-group .note {
    border-left: 04px solid $colour_menu_text;
    color: $colour_label;
    font-size: 13px;
    font-weight: normal;
    padding-left: 08px;
}