/**********************************************************/
/** Dean James - Pangean Flying Cactus - The Coding Dodo **/
/**********************************************************/

h1,
h2,
h3,
p,
ul,
ol,
.subtitle,
.category {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    color      : $colour_h1;
    font-size  : 32px;
    line-height: 40px;
    font-weight: bold;
}

h2 {
    color      : $colour_h2;
    font-size  : 20px;
    font-weight: bold;
    margin-top : 32px;
}

h2:first-child {
    margin-top: 00px;
}

h3 {
    color      : $colour_h3;
    font-size  : 16px;
    font-weight: bold;
    line-height: 24px;
}

p,
li,
tip {
    color       : $colour_p;
    font-size   : 14px;
    font-weight : normal;
    line-height : 22px;
    text-align  : justify;
    text-justify: inter-word;
}

.subtitle {
    color      : $colour_subtitle;
    font-size  : 12px;
    font-weight: normal;
    line-height: 20px;
    margin     : 00px 00px 00px 00px;
}

.category {
    color         : $colour_menu;
    font-size     : 14px;
    font-weight   : bold;
    line-height   : 22px;
    text-transform: uppercase;
    margin        : 00px 00px 00px 00px;
}

blockquote p {
    color      : $colour_subtitle;
    font-size  : 12px;
    font-weight: normal;
    text-align : center;
}

li {
    margin-bottom: 00px;
}

ul,
ol {
    font-size          : 14px;
    list-style-position: inside;
    padding-left       : 16px;
}

hr {
    border    : none;
    border-top: 1px solid $colour_border;
}