a {
    color          : $colour_link;
    text-decoration: none;
    padding        : 00px;
}

a:hover {
    color: $colour_link_hover;
}

tip {
    background-color: $colour_tip_back;
    border          : 01px solid $colour_tip_border;
    color           : $colour_tip_text;
    font-size       : 13px;
    font-weight     : bold;
    text-align      : justify;
    text-justify    : inter-word;
    padding         : 12px;
}