.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-fill {
    flex: 001;
}

.flex-32 {
    gap: 32px;
}

.flex-16 {
    gap: 16px;
}

.flex-08 {
    gap: 08px;
}

.flex-04 {
    gap: 04px;
}