.p-16 {
    padding: 16px;
}

.p-08 {
    padding: 08px;
}

.p-04 {
    padding: 04px;
}

.py-0 {
    padding-top: 00px;
    padding-bottom: 00px;
}

.px-0 {
    padding-right: 00px;
    padding-left: 00px;
}