h1 {
    color      : $colour_h1;
    font-size  : 32px;
    line-height: 40px;
    font-weight: bold;
}

h2 {
    color      : $colour_h2;
    font-size  : 20px;
    font-weight: bold;
    line-height: 32px;
}

h3 {
    color      : $colour_h3;
    font-size  : 16px;
    font-weight: bold;
    line-height: 22px;
}

p,
td,
li {
    color       : $colour_p;
    font-size   : 14px;
    font-weight : normal;
    line-height : 24px;
    text-align  : justify;
    text-justify: inter-word;
}

label,
th,
.title {
    color      : $colour_label;
    font-size  : 12px;
    font-weight: bold;
    line-height: 16px;
    text-align : left;
    margin     : 00px;
}

.subtitle,
blockquote p {
    color      : $colour_subtitle;
    font-size  : 12px;
    font-weight: normal;
    line-height: 12px;
    margin     : 00px;
}

blockquote p {
    text-align: center;
}

li {
    margin-bottom: 00px;
}

ul,
ol {
    font-size          : 14px;
    list-style-position: inside;
    padding-left       : 16px;
}

hr {
    border    : none;
    border-top: 1px solid $colour_border;
}

#cook p {
    margin       : 00px;
    margin-top   : auto;
    margin-bottom: auto;
}