body {
    counter-reset: h2counter;
}

.blog h2 {
    counter-reset: h3counter;
}

.blog h2:before {
    content          : counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

.blog h3:before {
    content          : counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}