
//Variable
$colour_body            : rgb(241, 241, 241) !default;
$colour_menu            : rgb(066, 121, 106) !default;
$colour_menu_text       : rgb(251, 251, 251) !default;
$colour_menu_active     : rgb(096, 156, 236) !default;
$colour_menu_active_text: rgb(251, 251, 251) !default;
$colour_logo            : rgb(251, 251, 251) !default;
$colour_logo_text       : rgb(066, 121, 206) !default;
$colour_logo_active     : rgb(096, 156, 236) !default;
$colour_logo_active_text: rgb(251, 251, 251) !default;
$colour_cook            : rgb(051, 051, 051) !default;
$colour_cook_text       : rgb(221, 221, 221) !default;
$colour_foot            : rgb(255, 255, 255) !default;
$colour_cell            : rgb(255, 255, 255) !default;
$colour_border          : rgb(231, 231, 231) !default;
$colour_canvas          : rgb(001, 001, 001) !default;
$colour_side_link       : rgb(081, 081, 081) !default;
$colour_subtitle        : rgb(121, 121, 121) !default;
$colour_h1              : rgb(051, 051, 051) !default;
$colour_h2              : rgb(096, 156, 236) !default;
$colour_h3              : rgb(096, 156, 236) !default;
$colour_p               : rgb(081, 081, 081) !default;
$colour_language        : rgb(096, 156, 236) !default;
$colour_language_text   : rgb(226, 226, 226) !default;
$colour_code            : rgb(246, 246, 246) !default;
$colour_code_numbers    : rgb(226, 226, 226) !default;
$colour_var             : rgb(236, 236, 236) !default;
$colour_var_text        : rgb(066, 121, 206) !default;
$colour_highlight       : rgb(236, 236, 236) !default;
$colour_link            : rgb(096, 156, 236) !default;
$colour_link_hover      : rgb(066, 121, 206) !default;
$colour_tip_border      : rgb(096, 156, 236) !default;
$colour_tip_back        : rgb(221, 231, 251) !default;
$colour_tip_text        : rgb(096, 156, 236) !default;
$colour_tag_back        : rgb(226, 236, 246) !default;
$colour_tag_text        : rgb(066, 121, 206) !default;
$colour_label           : rgb(081, 081, 081) !default;
$colour_input           : rgb(246, 246, 246) !default;
$colour_input_text      : rgb(051, 051, 051) !default;
$colour_table           : rgb(066, 121, 106) !default;
$colour_table_accent    : rgb(166, 221, 206) !default;
$font_logo              : Arial,
Helvetica,
sans-serif !default;

//Internal
@import 'external/solarized-light';
@import 'styles/application';
@import 'styles/article';
@import 'styles/canvas';
@import 'styles/cards';
@import 'styles/cells';
@import 'styles/flex';
@import 'styles/foot';
@import 'styles/forms';
@import 'styles/highlight';
@import 'styles/images';
@import 'styles/menu';
@import 'styles/padding';
@import 'styles/page';
@import 'styles/positions';
@import 'styles/profile';
@import 'styles/sides';
@import 'styles/tables';
@import 'styles/tags';
@import 'styles/text-and-fonts';