/**********************************************************/
/** Dean James - Pangean Flying Cactus - The Coding Dodo **/
/**********************************************************/

* {
    margin : 00px;
    padding: 00px;
}

html {
    height: 100%;
}

body {
    background: $colour_body;
    font-family     : Arial, Helvetica, sans-serif;
    overflow-y      : scroll;
    display              : grid;
    grid-template-columns: 01fr;
    grid-template-rows   : min-content min-content 01fr min-content;
    align-items:self-start;
    min-height: 100%;
    grid-template-areas  :
        "cook"
        "menu"
        "body"
        "foot";
}