/***************************************************/
/** Dean James - Content Management System Engine **/
/***************************************************/

.article-card {
    border-radius        : 02px;
    position             : relative;
    flex: 1;
    min-width: 40%;
    display              : grid;
    grid-template-columns: 128px 001fr;
    grid-template-areas  : "thmb desc";
}

.article-card:hover {
    background-color: $colour_highlight;
}

.article-card img {
    height   : 128px;
    width    : 128px;
    grid-area: thmb;
}

.article-card a {
    position: absolute;
    height  : 100%;
    width   : 100%;
    top     : 000%;
    left    : 000%;
    bottom  : 000%;
    right   : 000%;
}

.article-details {
    display       : flex;
    flex-direction: column;
    grid-area     : desc;
    gap           : 04px;
    padding       : 08px 16px;
}

@media screen and (max-width: 640px) {
    .article-card {
        grid-template-columns: 000px 001fr;
        grid-template-areas  : "thmb desc";
    }
}